*{
    padding: 0;
    margin: 0;
}

:root {
    --number: 1;
}

body {
    zoom: 230%
}

#start_btn{
    display: block;
    position: fixed;
    top: calc(50% + 50px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 200px;
    height: 50px;
}

#game {
    width: 750px;
    height: 250px;
    border: 1px solid black;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#pauseBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

#Pause_Warning {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    z-index: 9999; 
}
#resumeBtn{
    display: none;
    position: fixed;
    top: calc(50% + 50px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 200px;
    height: 50px;
}

#restartBtn {
    display: none;
    position: fixed;
    top: calc(50% + 50px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 200px;
    height: 50px;
}

#Loose_Warning {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    z-index: 9999; 
}

#block{
    width: 28px;
    height: 60px;
    background-image:  url('img/muzan.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    position: relative;
    top: 130px;
    left: 480px;
}

#character{
    width: 60px;
    height: 60px;
    left: 10px;
    background-image:  url('img/nezuko.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 190px;
}

#score {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: white;
    background-color: black;
}
.animate {
    animation: jump 500ms infinite;
}

@keyframes block {
    0%{left: 480px;}
    100%{left: -40px;}
}

@keyframes jump {
    0%{top: 70%;}
    50%{top: 50%;}
    100%{top: 70%;}
}